logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
.DS_Store
.vscode
*.swp
*.lock
!.autod.conf.js

test/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

.happypack/
dist
static
public
private
run
*.iml
*tmp
_site
logs
config/manifest.json
app/**/*.js
config/*.js
app/view/*
!app/view/layout.html
!app/view/.gitkeep
!webpack.config.js
!app/web/**/*.js
!postcss.config.js
package-lock.json
